*{
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: 'Lato', sans-serif;
}
ul, ol{
	list-style-type: none;
	padding: 0 !important;
}
a{
	text-decoration: none !important;
}
/*nav bar part start*/
.navbar-brand span{
	color: #2d3950;
	font-size: 30px;
	font-weight: 700;
}
.navbar-nav .nav-item .nav-link{
	color: #2d3950;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
/*nav bar part end*/

/*banner part start*/
#banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 90px 0 20px 0;
}
.banner-content{
	text-align: center;
	position: relative;
}
.banner-content h1{
	color: #ffffff;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
}
.banner-content span{
	height: 2px;
	width: 602px;
	background-color: #15a4fa;
	display: block;
	position: absolute;
	top: 150px;
	left: 257px;
}
.banner-content p{
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	padding: 40px 0 67px 0;
}
.banner-content a{
	font-size: 18px;
	font-weight: 400;
	color: #ffffff !important;
	border: 2px solid #15a4fa;
	border-radius: 5px;
	padding: 20px 37px;
}
.arrow-icon a{
	display: block;
	text-align: center;
	margin-top: 100px;
	color: white !important;
	font-size: 20px;
	font-weight: 700;
}
/*banner part end*/

/*design part start*/
#design{
	text-align: center;
	padding: 83px 0 113px 0;
	background-color: #f6f9f9;
}
.design-content h4{
	font-weight: 400;
	font-size: 40px;
	color: #2d3950;
	padding-bottom: 34px;
}
.design-content p{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #999999;
}
/*design part end*/

/*card part start*/
#card{
	padding: 65px 0;
	text-align: center;
}
.card-content h4{
	font-size: 22px;
	font-weight: 400;
	color: #2d3950;
	padding-top: 32px;
	letter-spacing: 1px;
}
.card-content p{
	font-size: 15px;
	font-weight: 400;
	color: #999999;
	padding-top: 12px;
	line-height: 25px;
	margin: 0 25px;
}
/*card part end*/

/*work part start*/
#work{
	background-color: #f6f9f9;
	padding: 80px 0 90px 0;
}
.work-heading{
	text-align: center;
	padding-bottom: 80px;
}
.work-heading h4{
	color: #2d3950;
	font-size: 41px;
	font-weight: 400;
	padding-bottom: 21px;
}
.work-heading p{
	color: #989898;
	font-size: 15px;
	font-weight: 400;
}
.work-img img{
	width: 100%;
}
.work-img{
	position: relative;
	margin-bottom: 30px;
}
.work-overlay{
	height: 100%;
	width: 100%;
	background-color: rgba(84, 160, 255,0.9);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transform: scaleX(0);
	transition: all linear .5s;
}
.work-overlay a{
	color: white !important;
	display: block;
	padding: 14px 13px;
	border: 1px solid white;
	border-radius: 5px;
	margin: 0 5px;
}
.work-img:hover .work-overlay{
	transform: scale(1);
	transition: all linear .5s;
	transform: scaleX(1);
}
/*work part end*/

/*form part start*/
#form{
	background-image: url(../images/form-banner.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.form-overlay{
	background: rgba(48, 51, 107,0.9);
	padding: 75px 0;
}
.form-heading{
	text-align: center;
}
.form-heading h4{
	font-weight: 400;
	font-size: 41px;
	color: white;
	padding-bottom: 21px;
}
.form-heading p{
	font-weight: 400;
	font-size: 15px;
	color: #999999;
	padding-bottom: 50px;
}
.form{
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-feild{
	height: 60px;
	width: 553px;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #999999;
	margin-bottom: 20px;
	padding-left: 10px;
	color: #999999;
	font-weight: 400;
	font-size: 15px;
}
.input-feild::placeholder{
	color: #999999;
	font-weight: 400;
	font-size: 15px;
}
textarea{
	background-color: transparent;
	height: 160px;
	width: 555px;
	padding: 10px 0 0 10px;
	border-radius: 5px;
	border: 2px solid #999999;
	color: #999999;
	font-weight: 400;
	font-size: 15px;
	resize: none !important;
}
form ul{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
form ul label{
	color: white;
	font-weight: 400;
	font-size: 15px;
	margin-left: 15px;
}
form label{
	padding-top: 20px;
}
form .btn{
	font-weight: 400;
	font-size: 18px;
	color: white !important;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #15a4fa !important;
	padding: 7px 45px;
}
.error-mess{
	color: #999999;
	font-weight: 400;
	font-size: 15px;
	font-style: italic;
	padding-left: 10px;
	padding-bottom: 10px;
}
/*form part end*/

/*footer part start*/
footer{
	padding: 25px 0;
}
.footer-text p{
	font-weight: 400;
	font-size: 15px;
	color: #999999;
	padding-top: 15px;
}
.icon a{
	display: block;
	font-weight: 700;
	font-size: 15px;
	color: white !important;
}
.icon ul li{
	padding: 13px 16px;
	background-color: #15a4fa;
	margin: 0 10px;
	border-radius: 5px;
}
.icon ul{
	margin-left: 270px;
	display: flex;
	justify-content: center;
	align-items: center;

}
/*footer part end*/